<div class="footer">
    <div class="footer-links">
      <a href="https://www.facebook.com/thepoetiofficial/"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/thepoetiofficial/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/ThePoetiReal"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <%= link_to "Chi Siamo", about_path =%>
      <%= link_to "Newsletter", newsletter_path =%>
      <%= link_to "Disclaimer", disclaimer_path =%>
    </div>
<!--     <div class="footer-copyright">
      <div class="wrapper_inside_footer">
        <div class="footer-wrapper">
          <%= link_to "Chi Siamo", poetries_path =%>
        </div>
      </div>
    </div> -->
</div>
