<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <div class="wrapper_inside_footer">
    <div class="footer-wrapper">
     <%= link_to "Creato da: F & F", poetries_path =%>
     </div>
   </div>
 </div>
</div>
