<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><b>Chi Siamo</b></h1>
      <br>
    </div>
    <div class="col-sm-5 col-sm-offset-2">
      <%= image_tag "thepoeti_aboutus.jpg", height: 350 %>
      <br>
      <br>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <p>
        Cari lettori,
        <br>
        <br>
        Ci presentiamo: Fabio, Jacopo e Francesco, tre ex-bocconiani appassionati di musica, scacchi e ovviamente… poesia. Viviamo a Parigi, appollaiati sulla bella collina di Montmartre che ha ispirato la nascita di ThePoeti. Il progetto é nato durante una delle nostre solite discussioni serali, tra un bicchiere di grappa ed elucubrazioni sul mondo.  Pensiamo che il mondo abbia bisogno di bellezza e sincerità e nulla ci sembra più adatto, in questi tempi veloci e a tratti isterici, del formato poetico per raggiungere questo fine.
        <br>
        <br>
        Ci impegniamo ad aggiungere quotidianamente una o più poesie e migliorare il blog al fine di offrire ai nostri lettori una piacevole sensazione di scoperta ed un respiro dagli stress del quotidiano.
        <br>
        <br>
        The Poeti ha l’ambizione di diventare la più grande pagina di poesia online.  Per questo ci serve l’aiuto di voi avidi lettori ed appassionati per proporci nuove idee, introdurci a nuovi poeti meno conosciuti e suggerire poesie non ancora presenti.</p>
    </div>
      <div class="col-sm-6 col-sm-offset-3">
      <p>
      <a href="mailto:thepoeti@gmail.com">Contattaci</a>
      </p>
    </div>

  </div>
</div>
