<% @title="The Poeti: Disclaimer" %>

<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><b>Disclaimer</b></h1>
      <br>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <p>
      ThePoeti è un progetto letterario indipendente, nato per sostenere la proliferazione della poesia in ogni sua forma.
      <br>
      <br>

      Tutte le poesie raccolte nel sito sono inserite al solo scopo di promuoverne la diffusione. Qualora ritieni che una delle poesie non sia conforme a rimanere sul sito, invia una segnalazione a <a href="mailto:thepoeti@gmail.com">The Poeti</a> per sollecitarne la rimozione.
      <br>
      </p>
    </div>
  </div>
</div>
