<br>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1><b>Newsletter</b></h1>
      <br>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <p>
        <i><b>the•poeti</b></i>
        <br>
        <br>
        /po·è·ti/
        <br>
        sostantivo maschile
        <br>
        <br>
        La redazione di thepoeti ti invia una poesia a settimana. Per cominciare la giornata con un po’ di bellezza.
        <br>
        <br>
        Oltre 2000 persone sono già iscritte alla comunità di thepoeti. Non aspettare.
      </p>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
      <br>
      <br>
      <p>Registra la tua email e ricevi una poesia gratis a settimana:</p>
    </div>
  </div>
</div>
